@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  color: #eee7e2;
  overflow-x: hidden;
}



@media (max-width: 315px) {
  form {
    max-width: 315px;
  }
}